<!-- products.component.html

<div class="container mt-4">
    <div class="row">
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card mb-4">
          <img [src]="product.imageUrl" class="card-img-top" alt="{{ product.name }}">
          <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text"><strong>Price: ${{ product.price }}</strong></p>
            <a href="#" class="btn btn-primary">Add to Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
   -->
   <div class="container">
    <div class="row">
        <div class="col-lg-3" *ngFor="let product of products">
            <div class="card" style="width:300px;">
                <img class="card-img-top" [src]="product.imgsrc" alt="Card image" style="width:100%; margin-top: 5px;">
                <div class="card-body">
                    <h4 class="card-title">{{product.name}}</h4>
                    <p class="card-text">{{product.description}}</p>
                    <p class="card-text"><b>Price: <s>₹45000/-</s> ₹{{product.price}}/- </b></p>
                    <p align="right">
                        <button class="btn btn-primary">AddToCart</button>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>