<!-- <h3 align="center">Registration Form</h3>

<form #regForm="ngForm" (ngSubmit)="registerSubmit(regForm.value)">
    <table align="center">
        <tr>
            <td>EmpName</td>
            <td><input type="text" name="empName" ngModel /></td>
        </tr>
        <tr>
            <td>Salary</td>
            <td><input type="text" name="salary" ngModel /></td>
        </tr>
        <tr>
            <td>Gender</td>
            <td>
                <select name="gender" ngModel >
                    <option value="" selected>Select Gender</option>
                    <option value="Male">Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </td>
        </tr>
        
        <tr>
            <td>DateOfJoin</td>
            <td><input type="date" name="doj" ngModel /></td>
        </tr>
        
        <tr>
            <td>Country</td>
            <td>
                <select name="country" ngModel >
                    <option value="" selected>Select Country</option>
                    <option value="IND">INDIA</option>
                    <option value="USA">USA</option>
                    <option value="CAN">Canada</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>EmailId</td>
            <td><input type="text" name="emailId" ngModel /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="password" ngModel /></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <button>Register</button>
            </td>
        </tr>
    </table>
</form> -->
<!-- <div>
    <h2 align="center">Registration Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit(registrationForm.value)">
        <table align="center">
            <tr>
                <td>Employee Name</td>
                <td><input type="text" name="empName" ngModel required /></td>
            </tr>
            <tr>
                <td>Salary</td>
                <td><input type="text" name="salary" ngModel required /></td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select name="gender" ngModel required>
                        <option value="" selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Date Of Join</td>
                <td><input type="date" name="doj" ngModel required /></td>
            </tr>
            <tr>
                <td>Country</td>
                <td>
                    <select name="country" ngModel required>
                        <option value="" selected>Select Country</option>
                        <option value="IND">India</option>
                        <option value="USA">USA</option>
                        <option value="CAN">Canada</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>EmailId</td>
                <td>
                    <input type="text" name="emailId" ngModel #emailId="ngModel" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}"  />
                    <div *ngIf="emailId.invalid && (emailId.dirty || emailId.touched)" class="error" style="color: red;">
                        <div *ngIf="emailId.hasError('required')">Email is required.</div>
                        <div *ngIf="emailId.hasError('pattern')">Enter a valid email.</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Mobile Number</td>
                <td>
                    <input type="text" name="mobileNumber" ngModel #mobileNumber="ngModel" required pattern="[6789]\d{9}" maxlength="10" />
                    <div *ngIf="mobileNumber.invalid && (mobileNumber.dirty || mobileNumber.touched)" class="error" style="color: red;">
                        <div *ngIf="mobileNumber.hasError('required')">Mobile Number is required.</div>
                        <div *ngIf="mobileNumber.hasError('pattern')">Enter a valid 10-digit number starting with 6, 7, 8, or 9.</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password" ngModel #password="ngModel" required
                           pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$" maxlength="10"  />
                    <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error" style="color: red;">
                        <div *ngIf="password.hasError('required')" style="color: red;">Password is required.</div>
                        <div *ngIf="password.hasError('pattern')" style="color: red;">Password must contain at least 8 characters, including 1 uppercase letter, 1 lowercase letter, 1 digit, and 1 special symbol.</div>
                    </div>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit" [disabled]="registrationForm.invalid">Register</button>
                </td>
            </tr>
        </table>
    </form>
</div> -->
<div class="container">
    <h2>Registration Form</h2>

    <form #registrationForm="ngForm" (ngSubmit)="registerSubmit()" novalidate>

        <table align="center">
            <tr>
                <td>EmpName</td>
                <td>
                    <input type="text" name="empName" [(ngModel)]="empName" required minlength="2" maxlength="30" />
                    <div *ngIf="registrationForm.controls['empName'].hasError('required') && registrationForm.controls['empName'].touched"
                        style="color: red;">Please Enter Employee Name</div>
                    <div *ngIf="registrationForm.controls['empName'].hasError('minlength') && registrationForm.controls['empName'].touched"
                        style="color: red;">Please Enter At Least 2 Characters for Employee Name</div>
                </td>
            </tr>
            <tr>
                <td>Salary</td>
                <td>
                    <input type="text" name="salary" [(ngModel)]="salary" required />
                    <div *ngIf="registrationForm.controls['salary'].hasError('required') && registrationForm.controls['salary'].touched"
                        style="color: red;">Please Enter Salary</div>
                </td>
            </tr>
            <tr>
                <td>Gender</td>
                <td>
                    <select name="gender" [(ngModel)]="gender" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                        <option value="Others">Others</option>
                    </select>
                    <div *ngIf="registrationForm.controls['gender'].hasError('required') && registrationForm.controls['gender'].touched"
                        style="color: red;">Please Select Gender</div>
                </td>
            </tr>

            <tr>
                <td>DateOfJoin</td>
                <td>
                    <input type="date" name="doj" [(ngModel)]="doj" required />
                    <div *ngIf="registrationForm.controls['doj'].hasError('required') && registrationForm.controls['doj'].touched"
                        style="color: red;">Please Enter Date of Join</div>
                </td>
            </tr>

            <tr>
                <td>Country</td>
                <td>
                    <select name="country" [(ngModel)]="country" required>
                        <option value="" disabled selected>Select Country</option>
                        <option value="IND">INDIA</option>
                        <option value="USA">USA</option>
                        <option value="CAN">Canada</option>
                    </select>
                    <div *ngIf="registrationForm.controls['country'].hasError('required') && registrationForm.controls['country'].touched"
                        style="color: red;">Please Select Country</div>
                </td>
            </tr>

            <tr>
                <td>PhoneNumber</td>
                <td>
                    <input type="text" name="phoneNumber" [(ngModel)]="phoneNumber" required
                        pattern="^[6-9]\d{9}$" minlength="10" maxlength="10" />
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('required') && registrationForm.controls['phoneNumber'].touched"
                        style="color: red;">Please Enter Phone Number</div>
                    <div *ngIf="registrationForm.controls['phoneNumber'].hasError('pattern') && registrationForm.controls['phoneNumber'].touched"
                        style="color: red;">Please Enter a Valid Phone Number starting with 6, 7, 8, or 9</div>
                </td>
            </tr>

            <tr>
                <td>EmailId</td>
                <td>
                    <input type="text" name="emailId" [(ngModel)]="emailId" required
                        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" minlength="2" maxlength="30" />
                    <div *ngIf="registrationForm.controls['emailId'].hasError('required') && registrationForm.controls['emailId'].touched"
                        style="color: red;">Please Enter Email-Id</div>
                    <div *ngIf="registrationForm.controls['emailId'].hasError('pattern') && registrationForm.controls['emailId'].touched"
                        style="color: red;">Please Enter a Valid Email-Id</div>
                </td>
            </tr>

            <tr>
                <td>Password</td>
                <td>
                    <input type="password" name="password" [(ngModel)]="password" required
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%?&])[A-Za-z\d@$!%?&]{8,}$"
                        minlength="8" maxlength="8" />
                    <div *ngIf="registrationForm.controls['password'].hasError('required') && registrationForm.controls['password'].touched"
                        style="color: red;">Please Enter Password</div>
                    <div *ngIf="registrationForm.controls['password'].hasError('pattern') && registrationForm.controls['password'].touched"
                        style="color: red;">Please Enter a Valid Password (8 characters, 1 uppercase, 1 lowercase, 1 digit, 1 special character)</div>
                </td>
            </tr>

            <tr>
                <td></td>
                <td>
                    <button type="submit" class="btn btn-primary">Register</button>
                </td>
            </tr>
        </table>
    </form>

    <div>
        <!-- Additional error messages for other fields -->
        <div *ngIf="registrationForm.controls['salary'].hasError('required') && registrationForm.controls['salary'].touched"
            style="color: red;">Please Enter Salary</div>
        <div *ngIf="registrationForm.controls['doj'].hasError('required') && registrationForm.controls['doj'].touched"
            style="color: red;">Please Enter Date of Join</div>
        <!-- ... (remaining error messages) ... -->
    </div>
</div>

